<br />
<hr />

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Account Home</a></li>
    <li><a href="#tab2" data-toggle="tab">Allocation List</a></li>
    <li><a href="#tab3" data-toggle="tab">Payment History</a></li>
    <li><a href="#tab4" data-toggle="tab">Service Requests</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p>I'm in Account Home section.</p>
    </div>
    <div class="tab-pane" id="tab2">
      <p>Howdy, I'm in Allocation List section.</p>
      <%= render 'layouts/allocation_table' %>
    </div>
    <div class="tab-pane" id="tab3">
      <p>Howdy, I'm in Payment History section.</p>
    </div>
    <div class="tab-pane" id="tab4">
      <p>Howdy, I'm in Service Request section.</p>
    </div>
  </div>
</div>

<hr />
<p class="lead">User: <%= @user.email %></p>
<p class="text-info"> Number of Allocations: <%= @user.allocations.count %> </p>
<hr />
