<% provide(:title, 'Features') %>
<h1>MindBricks NAT Server Blog</h1>
<p>
<a href="http://www.mindbricks.com">MindBricks</a> NAT server aids in NAT 
traversal for all the client commiunication needs.
</p>
