<% provide(:title, 'Home') %>
<div>
  <div class="row user-nav">
    <div class="span 8">
      <img src="http://placehold.it/600x450" />
    </div>
    <div class="span3 offset1">
      <%= render 'layouts/signup' %>
    </div>
    <!-- <div class="span6">
      <%= render 'layouts/signin' %>
    </div> -->
  </div>
</div>
