<% provide(:title, 'Home') %>
<div class="hero-unit">
<h1>MindBricks NAT Server</h1>
<p>
<a href="http://www.mindbricks.com">MindBricks</a> NAT server aids in NAT 
traversal for all the client commiunication needs.
</p>
<p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
