<% provide(:title, 'Home') %>
<div>
  <div class="span12">
  <div class="hero-unit">
    <div class="row user-nav">
      <div class="span7">
        <h1>Seamless communication and collaboration</h1>
        <p>NAT traversal service on cloud. For all IP based communications and collaboration - Webrtc, Video calling, Messaging, conferencing and more.</p>
        <!-- <p><center><a href="users/sign_up" class="btn btn-primary btn-large">Sign up for free &raquo;</a></center></p> -->
      </div>
      <div class="span3">
        <%= render 'layouts/signup' %>
      </div>
    </div>  
  </div>
  </div>

  <div class="row">
    <div class="span6">
      <h2> Something here Features </h2>
    </div>
    <div class="span6">
      <h2> what else pricing and plans </h2>
    </div>
  </div>

</div>
