<footer class="footer">
  <nav>
    <ull>
      <li><%= link_to "Privacy", privacy_path %></li>
      <li><%= link_to "Terms of Service", terms_path %></li>
    </ull>
    <li><a href="http://www.mindbricks.com/">Designed and built by MindBricks</a> @2013 All rights reserved</li>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>
